@import "tailwindcss";

@import "tailwindcss";
 
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@theme inline {
  --animate-heading: heading 2s ease 2.05s 1 forwards;
}

@theme inline {
  --animate-btn: btn 2s ease 5.05s 1 forwards;
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes heading {
  0% {
    opacity: 0;
    transform: translate(-100%, 0%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(0%, -2%) scale(1);
  }
}

@keyframes btn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
  
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

html {
  scroll-behavior: smooth;
}

.navbar{
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.39);
}

.contact{
    backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.849);
}

.btn{
   backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.39);
}

.pro-btn{
  border: 2px solid rgb(56, 58, 82);
  border-radius: 10px;
  margin: 5px;
  padding: 2px 8px;
}